@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  --white: white;
  --black: #333;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding: 4rem 0;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

.main-header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--white);
}

.main-header__link {
  vertical-align: middle;
  text-decoration: none;
  color: var(--black);
}

.main-header__logo {
  font: bold 2rem 'Montserrat', sans-serif;
}

.main-header__ul {
  display: flex;
}

.main-header__li {
  margin: 0 1rem;
}

main {
  margin: 4rem auto;
  width: 70%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer a {
  display: inline-block;
  margin: 1rem 3rem;
  text-decoration: none;
  color: var(--white);
}
