body{
    display: flex;
    flex-wrap: wrap;
}

#user {
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

h2{
    text-align: center;
}

ol{
    flex: 1;
    justify-content: space-between;
}

li{
    margin: 4rem;
}