main form {
  border: 1px solid black;
  width: 40rem;
  margin: 0 auto;
  text-align: center;
}

main input {
  width: 90%;
  box-sizing: border-box;
  font-size: 1.1rem;
  margin: 0.1rem auto;
}

main div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

main input[type='submit'] {
  margin: 1.5rem auto;
  padding: 1rem 3rem;
  font-family: inherit;
  background-color: rgb(92, 11, 11);
  border: 1px solid transparent;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  display: block;
  border-radius: 8px;
  width: auto;
}

main input[type='submit']:hover {
  background-color: white;
  color: rgb(92, 11, 11);
  border: 1px solid black;
}

main ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

main li {
  font-size: 1.3rem;
  border: 1px solid black;
  width: 30rem;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgb(255, 240, 240);
}

main button {
  margin: 0 auto;
  padding: 1rem 3rem;
  font-family: inherit;
  background-color: rgb(92, 11, 11);
  border: 1px solid transparent;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  display: block;
  border-radius: 8px;
  width: auto;
}
